@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Press Start 2P', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #381837;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage {
  position: relative;
  height: 100vh;
  background-color: #f0eae0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffb7c5;
  color: #432b49;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above the parchment menu */
}

.parchmentMenu {
  position: absolute; /* Changed to absolute for centering in the flex container */
  width: 50%; /* Adjust width as needed */
  max-width: 600px; /* Set a max-width for larger screens */
  height: 70%; /* Adjust height as needed */
  top: 15%;
  right: 5%;
  background-color: #fff5e4;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  text-align: left; /* Center the text horizontally */
  overflow-y: auto; /* Add scroll for longer texts */
}

.parchmentMenu p {
  font-family: 'Press Start 2P', cursive;
  font-size: 1%;
  margin: 0; /* Remove default margins */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.letterContent {
  font-family: 'Merriweather', serif;
  text-align: left;
  line-height: 1.6; /* Improve readability */
}

.letterContent h2, .letterContent p {
  margin-bottom: 1em; /* Add some space between paragraphs and header */
}

.letterContent h2 {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  font-weight: 700; /* Use bold weight for the header */
}

.letterContent p {
  font-weight: 400; /* Regular weight for the body text */
}

.timer {
  position: fixed;
  bottom: 0px; /* Adjust based on your layout */
  left: 10px;
  width: 100%;
  text-align: left;
  font-size: 8px;
  color: #432b49;
  padding: 10px;
  background-color: transparent;
}

.emotionContainer {
  position: absolute;
  top: 75%;
  left: 2%;
  transform: translateY(-50%);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotionText {
  font-size: 24px;
  margin-bottom: 20px;
}

.emotionButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 3x3 grid */
  gap: 10px; /* Space between buttons */
}

.emotionButton {
  padding: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectedEmotionDisplay p {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.emotionButton {
  padding: 10px 15px;
  font-size: 16px;
  color: #555; /* Darker text for better contrast */
  background-color: #f9f9f9;
  border: 2px solid #ddd; /* Subtle borders */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for visual effects */
  outline: none; /* Remove focus outline */
}

.emotionButton:hover {
  background-color: #e7e7e7; /* Slightly darker on hover */
}

.emotionButton.selected {
  color: #fff; /* White text for selected button */
  background-color: #764f80; /* Highlight color for selected state */
  border-color: #ffffff; /* Darker border for contrast */
}

@keyframes highlight {
  0% {
    background-color: #764f80; /* Start with highlight color */
    color: #fff;
  }
  100% {
    background-color: #f9f9f9; /* End with original background color */
    color: #555; /* Return to original text color */
  }
}

.emotionButton {
  padding: 10px 15px;
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.emotionButton:hover {
  background-color: #e7e7e7;
}

.emotionButton.animate {
  animation: highlight 0.5s forwards; /* Use forwards to retain the final state */
}

.homeBackground {
  min-height: 100vh;
  background-image: url('./content/gifmain.gif'); /* Correct relative path from the src directory */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.emotionButton, .emotionText, .timer {
  font-family: 'Press Start 2P', cursive;
}

.emotionText {
  font-size: 1.2rem; /* Adjust size as needed */
  color: rgb(255, 255, 255);
}

.imageText {
  font-size: 1.2rem; /* Adjust size as needed */
  color: #333;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
}

.emotionButton {
  font-size: 0.8rem; /* Adjust size as needed */
}


.emotionButtonsAndRiddle {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
}

.riddleBox {
  margin-left: 20px; /* Spacing between buttons and riddle box */
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; /* Or however wide you want it to be */
  height: auto; /* Adjust the height as needed */
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Press Start 2P', cursive; /* Or any other font you're using */
  font-size: 0.5rem; /* Adjust font size as needed */
  color: #333;
  overflow-wrap: break-word; /* Ensures text wraps within the box */
}

.showAnswerButton {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.showAnswerButton:hover {
  background-color: #e7e7e7;
}

.riddleAnswer {
  margin-top: 50px;
  padding: 5px;
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}

.contentFrame {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  max-width: 600px;
  background: #fff5e4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  z-index: 1000; /* Make sure it's above other content */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto; /* In case content is very long */
}

.closeFrameButton {
  margin-left: auto; /* Aligns the button to the right */
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  width: 100%;
  /* Add other styles as needed */
}

.imageContainer {
  width: 100%; /* Adjust as needed */
  text-align: center; /* Center image in the div */
  margin-top: 20px; /* Add some space above the image */
}

.contentImage {
  max-width: 100%; /* Ensure it fits in the frame */
  max-height: 400px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional, for styled corners */
}

.memoryImage {
  max-width: 100%; /* Ensure it fits in the frame */
  max-height: 300px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional, for styled corners */
}

.emotionButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Keeps the 2x2 grid */
  gap: 20px; /* Increase the space between buttons if needed */
  justify-content: center; /* Center the buttons in the grid area */
  align-items: center;
}

.emotionButton {
  padding: 20px 30px; /* Increase padding for larger buttons */
  font-size: 1rem; /* Increase font size for better readability */
  background-color: #f9f9f9;
  border: 3px solid #ddd; /* Make the border thicker if desired */
  border-radius: 10px; /* Adjust border-radius for a more rounded look */
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  min-width: 150px; /* You can set a minimum width */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.emotionButton:hover {
  background-color: #e7e7e7; /* Slightly darker on hover */
}

.emotionButton.selected {
  color: #fff;
  background-color: #764f80;
  border-color: #ffffff;
}

.infoIcon {
  position: fixed;
  top: 3px;
  left: 2px;
  background-color: transparent;
  color: #432b49;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above the parchment menu */
}

.infoFrame {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 30%; /* Adjust width as needed */
  background-color: #fff5e4;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow-y: auto;
  z-index: 100; /* Make sure it's above other content */
}

.infoContent p {
  font-family: 'Press Start 2P';
  font-size: 0.5rem; /* Adjust size as needed */
  margin-bottom: 1em; /* Add some space between paragraphs */
}

.disclaimer {
  font-family: 'Press Start 2P';
  font-size: 1%;
  margin-top: 150px;
}



.eightBallIcon {
  position: fixed;
  bottom: 20px;
  right: 70px; /* Adjust the value so the 8-ball icon is to the left of the mail icon */
  background-color: #ffb7c5;
  color: #432b49;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth, similar to the mail icon */
  font-size: 24px; /* Size of the icon inside the button */
}

.zoomIcon {
  position: fixed;
  bottom: 20px;
  right: 146px;
  background-color: #ffb7c5;
  color: #432b49;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above the parchment menu */
}

.videoFrame {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make the iframe take the full width of the .videoFrame */
  height: 100%; /* Make the iframe take the full height of the .videoFrame */
}

.avatarsContainer {
  position: absolute;
  bottom: 35%; /* Adjust based on your layout */
  left: 52%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust centering based on the actual size of your images */
}

.avatar {
  width: 100px; /* Adjust based on your needs */
  height: auto; /* Maintain aspect ratio */
  margin: 0 -25px; /* Adjust spacing between avatars */
}
.parchmentMenu form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.passwordInput {
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
  margin-bottom: 10px; /* Add space below the input */
  font-size: 1rem; /* Adjust to match the size in your project */
  border: 2px solid #ccc; /* Example border, adjust as needed */
  border-radius: 4px; /* Optional: round the corners of the input box */
}

.submitPasswordButton {
  font-family: 'Press Start 2P', cursive;
  padding: 5px 10px;
  margin-bottom: 10px; /* Add space below the button if needed */
  font-size: 1rem; /* Adjust to match the size in your project */
  background-color: #f0f0f0; /* Example background, adjust as needed */
  border: 2px solid #ccc; /* Example border, adjust as needed */
  border-radius: 4px; /* Optional: round the corners of the button */
  cursor: pointer;
}

.passwordError {
  color: red;
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px; /* This will push the error message lower */
  font-size: 0.8rem; /* Adjust to match the size in your project */
  text-align: center;
}

.eightBallIcon {
  position: fixed;
  font-family: 'Press Start 2P', cursive;
  bottom: 20px;
  right: 80px; /* Adjust based on the exact positioning you need */
  background-color: #ffb7c5;
  color: #432b49;
  border-radius: 50%; /* Make it round */
  width: 48px; /* Width of the button */
  height: 48px; /* Height of the button */
  padding:10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above the parchment menu */
}

.zoom {
  position: absolute; /* Changed to absolute for centering in the flex container */
  width: 95%;
  height: 83%; /* Adjust height as needed */
  top: 1%;
  right: 1%;
  background-color: #fff5e4;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  text-align: left; /* Center the text horizontally */
  overflow-y: auto; /* Add scroll for longer texts */
  z-index: 100;
}

.zoom p {
  font-family: 'Press Start 2P', cursive;
  font-size: 1%;
  margin: 0; /* Remove default margins */
}

.videoChatOne {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoChatOne iframe {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 45%; /* Make the iframe take the full width of the .videoFrame */
  height: 45%; /* Make the iframe take the full height of the .videoFrame */
}

.videoChatTwo {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoChatTwo iframe {
  position: absolute;
  top: 30px;
  left: 650px;
  width: 45%; /* Make the iframe take the full width of the .videoFrame */
  height: 45%; /* Make the iframe take the full height of the .videoFrame */
}

.videoChatThree {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoChatThree iframe {
  position: absolute;
  top: 355px;
  left: 70px;
  width: 45%; /* Make the iframe take the full width of the .videoFrame */
  height: 45%; /* Make the iframe take the full height of the .videoFrame */
}

.videoChatFour {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoChatFour iframe {
  position: absolute;
  top: 355px;
  left: 650px;
  width: 45%; /* Make the iframe take the full width of the .videoFrame */
  height: 45%; /* Make the iframe take the full height of the .videoFrame */
}

.videoAudio {
  position: absolute; /* Position absolutely within a relative container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the position for exact centering */
  width: 90%; /* Set width to a percentage of the container for responsiveness */
  height: 0; /* Set height to 0 and use padding to maintain aspect ratio */
  padding-top: 50.85%; /* Aspect ratio for the video, 16:9 in this case (height/width*100%) */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.videoAudio iframe {
  position: absolute;
  top: 3055px;
  left: 6050px;
  width: 45%; /* Make the iframe take the full width of the .videoFrame */
  height: 45%; /* Make the iframe take the full height of the .videoFrame */
}

@media only screen and (max-width: 768px) {
  .eightBallIcon {
      display: none;
  }
  .zoomIcon {
    display: none;
}
  /* You can add additional elements or classes you want to hide */
  .mailIcon {
      display: none;
  }
  /* Or use ids */
  .emotionButton {
      display: none;
  }
  .timer {
    display: none;
}
  .emotionText {
    display: none;
}
  .avatar {
      display: none;
  }
}